

.alert {
  background-color: #bf00ff;
}

.traffic {
  /* background-color: #ffcccc; */
}

.daily {
  /* background-color: #303F9F; */
}

.mobile {
  background-color: #DCEDC8;
}

.social {
  background-color: red;
}

.members {
  background-color: purple;
}

.recent-activity {
  background-color: coral;
}

.message {
  background-color: grey;
}

.settings {
  background-color: brown;
}

/* Mobile - Make the chart widgets responsive to screen resizing */
.widget-container-full, .widget-container-half {
  width: 95vw;
}

/* Media queries for desktop layout*/
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }

  .main {
    grid-template-columns: 50%;
    grid-gap: 10px;
  }

  .traffic, .social {
    grid-column: 1 / span 2;
  }

  .daily, .members, .message {
    grid-column: 1 / span 1;
  }

  .mobile, .activity, .settings {
    grid-column: 2 / span 1;
  }

  /* Make the chart widgets responsive to screen resizing */
  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
}
