.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75px 1fr;
  grid-template-columns: 75px 1fr;
  grid-template-areas: "header header" "nav main" "nav main"; }
  .grid-container .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header; }
  .grid-container .navigation {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: nav; }
  .grid-container .main {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: main;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    -ms-grid-rows: auto 10px auto 10px auto 10px auto 10px auto 10px auto 10px auto;
    grid-template-areas: "main-header main-header" "alert alert" "traffic traffic" "daily mobile" "social social" "members recent-activity" "message settings";
    /* Make the chart widgets responsive to screen resizing */ }
    .grid-container .main .main-header {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      grid-area: main-header; }
    .grid-container .main .alert {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      background-color: #bf00ff;
      grid-area: alert; }
    .grid-container .main .traffic {
      -ms-grid-row: 5;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      grid-area: traffic; }
    .grid-container .main .daily {
      -ms-grid-row: 7;
      -ms-grid-column: 1;
      grid-area: daily; }
    .grid-container .main .mobile {
      -ms-grid-row: 7;
      -ms-grid-column: 3;
      background-color: #DCEDC8;
      grid-area: mobile; }
    .grid-container .main .social {
      -ms-grid-row: 9;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      background-color: red;
      grid-area: social; }
    .grid-container .main .members {
      -ms-grid-row: 11;
      -ms-grid-column: 1;
      background-color: purple;
      grid-area: members; }
    .grid-container .main .recent-activity {
      -ms-grid-row: 11;
      -ms-grid-column: 3;
      background-color: coral;
      grid-area: recent-activity; }
    .grid-container .main .message {
      -ms-grid-row: 13;
      -ms-grid-column: 1;
      background-color: grey;
      grid-area: message; }
    .grid-container .main .settings {
      -ms-grid-row: 13;
      -ms-grid-column: 3;
      background-color: brown;
      grid-area: settings; }
    .grid-container .main .widget-container-full {
      width: 90vw; }
    .grid-container .main .widget-container-half {
      width: 45vw; }

.header {
  background-color: #737ABF;
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: auto;
  color: #fff;
  -webkit-box-shadow: 5px 5px 5px #aaaaaa;
  box-shadow: 5px 5px 5px #aaaaaa; }
  .header #title {
    color: #fff;
    font-size: 1.2em;
    padding: .5em;
    font-weight: bold; }
    .header #title #app-word {
      font-weight: 100;
      font-size: 1.3em; }
  .header .bell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .bell .vl {
      border-left: 2px solid #2C8EC5;
      height: 30px;
      padding: .2em; }
    .header .bell .bell-icon {
      margin: 5px; }
  .header .profile-picture {
    border-radius: 50%;
    width: 30px;
    height: 30px; }
  .header #profile-name {
    font-weight: 400;
    font-size: .8em;
    margin-right: 7px;
    margin-left: 10px; }

.navigation {
  background-color: #4C4C73;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .navigation a {
    margin: 10px; }

.main-header {
  background-color: #F5F5F5;
  border-collapse: separate;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px; }
  .main-header .main-header-search input {
    border-radius: 4px;
    border: 1px solid lightgrey;
    height: 30px;
    margin-right: 10px; }
  .main-header .main-header-search {
    justify-self: flex-end;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border-radius: 50%; }
  .main-header .headline {
    background-color: #fff;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    text-align: center; }

/* Mobile - Make the chart widgets responsive to screen resizing */
