/* ============================================= */
/*              variables                    */
/* ============================================= */
/* ============================================= */
/*              Mixins                    */
/* ============================================= */
/* ============================================= */
/*              Images                           */
/* ============================================= */
.profile-picture {
  border-radius: 50%;
  width: 30px;
  height: 30px; }

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
/* ============================================= */
/*              Base styles                      */
/* ============================================= */
* {
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p {
  line-height: 1.45em; }

a {
  text-decoration: none; }

/* ============================================= */
/*              Grid System                      */
/* ============================================= */
.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

/* Make the chart widgets responsive to screen resizing on mobile*/
.widget-container-full,
.widget-container-half {
  width: 95vw; }

.main {
  display: -ms-grid;
  display: grid; }

@media (min-width: 768px) {
  .grid-container {
    -ms-grid-columns: 75px 1fr;
    grid-template-columns: 75px 1fr;
    grid-template-areas: "header header" "navigation main"; }
  .main {
    -ms-grid-columns: 50%;
    grid-template-columns: 50%; }
  .traffic, .social {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2; }
  .daily, .members, .message {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1; }
  .mobile, .activity, .settings {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1; }
  /* Make the chart widgets responsive to
  screen resizing on tablet and desktop*/
  .widget-container-full {
    width: 90vw; }
  .widget-container-half {
    width: 45vw; } }

/* ============================================= */
/*              Header                   */
/* ============================================= */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #737ABF;
  height: 75px;
  color: #fff; }
  .header #title {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin-left: 5px; }
    .header #title #app-word {
      font-weight: 100;
      font-size: 1.3em; }
  .header .bell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .bell .vl {
      border-left: 2px solid #2C8EC5;
      height: 30px;
      padding: .2em; }
    .header .bell .bell-icon {
      margin: 5px; }
  .header #profile-name {
    font-weight: 400;
    font-size: .8em;
    margin-right: 7px;
    margin-left: 10px; }

/* ============================================= */
/*              Main                   */
/* ============================================= */
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .main-header .headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding: 10px; }
    .main-header .headline h2 {
      color: #4C4C73;
      margin: 0px;
      font-size: 2em; }
  .main-header .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #737ABF;
    background-color: #737ABF; }
    .main-header .search input {
      width: 100%;
      border: 1px solid #fff;
      border-radius: 10px;
      padding: 10px; }

.alert {
  padding-top: .75em;
  padding-bottom: .75em; }

.alert-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #7476B5;
  color: #fff;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  padding: 0 .75em; }

.alert-banner-close {
  border: none;
  color: #fff;
  margin-left: auto;
  font-size: 1.1em; }

.traffic, .daily, .mobile, .social,
.members, .recent-activity, .message, .settings {
  padding: 10px;
  border-bottom: 1px solid #737ABF;
  margin-top: 10px; }
  .traffic h3, .daily h3, .mobile h3, .social h3,
  .members h3, .recent-activity h3, .message h3, .settings h3 {
    color: #4C4C73;
    font-size: 1.3em; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.social-container {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 15px;
  border: 1px solid #737ABF;
  border-radius: 5px;
  margin-bottom: 10px; }

.social-image {
  -ms-flex-item-align: center;
  align-self: center;
  height: 90px;
  width: 90px;
  background-color: #737ABF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.social-text {
  display: inline-block;
  padding-left: 20px; }

.social-text p:first-child {
  font-size: 1.2em;
  font-weight: bold;
  color: #737ABF;
  margin: 0px; }

.social-text p:last-child {
  font-size: 3.5em;
  font-weight: lighter;
  color: grey;
  margin: 0px; }

.members-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #737ABF;
  padding: 10px; }
  .members-container .members-text {
    margin-left: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .members-container .members-text p {
      margin: 0px; }

.profile-image {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  width: 50px;
  height: 50px; }

/* ============================================= */
/*              Navigation                       */
/* ============================================= */
.navigation {
  background-color: #4C4C73;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .navigation a {
    margin: 10px; }

/* ============================================= */
/*              Buttons                          */
/* ============================================= */
button {
  color: red; }

/* ============================================= */
/*              Forms                            */
/* ============================================= */
/* Mobile - Make the chart widgets responsive to screen resizing */
