//Variables
$headerColor: #737ABF;
$alertColor: #7476B5;
$navigationColor: #4C4C73;
$buttonPrimary: #7275BC;
$buttonDisabled: #B3B3B3;
$containerColor: #FDFAFF;
$white: #fff;

//Mixins

//Circular images
@mixin circleImg {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

 //Flexable header
@mixin flexHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

* {
  font-family: 'Lato', sans-serif;
}

// Grid Layout Container
.grid-container {
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-template-areas:
    "header header"
    "nav main"
    "nav main";

  .header {
    grid-area: header;
  }
  .navigation {
    grid-area: nav;
  }
  .main {
    grid-area: main;
    //Main dashboard layout
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
      "main-header main-header"
      "alert alert"
      "traffic traffic"
      "daily mobile"
      "social social"
      "members recent-activity"
      "message settings";

    .main-header {
      grid-area: main-header;

    }

    .alert {
      grid-area: alert;
    }

    .traffic {
      grid-area: traffic;
    }

    .daily {
      grid-area: daily;
    }

    .mobile {
      background-color: $alertColor;
      grid-area: mobile;
    }

    .social {
      background-color: red;
      grid-area: social;
    }

    .members {
      background-color: purple;
      grid-area: members;
    }

    .recent-activity {
      background-color: coral;
      grid-area: recent-activity;
    }

    .message {
      background-color: grey;
      grid-area: message;
    }

    .settings {
      background-color: brown;
      grid-area: settings;
    }

    /* Make the chart widgets responsive to screen resizing */
    .widget-container-full {
      width: 90vw;
    }
    .widget-container-half {
      width: 45vw;
    }
  }
}


// Main styles
.header {
  background-color: $headerColor;
  // font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  color: $white;
  box-shadow: 5px 5px 5px #aaaaaa;

  #title {
     color: $white;
     font-size: 1.2em;
     padding: .5em;
     font-weight: bold;
     #app-word {
       font-weight: 100;
       font-size: 1.3em;
     }
   }

  .bell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .vl {
      border-left: 2px solid #2C8EC5;
      height: 30px;
      padding: .2em;
    }

    .bell-icon {
      margin: 5px;
      transition: color 1s;
    }

    .bell-icon:hover {
      color: red;
    }
  }
  .profile-picture {
    @include circleImg;
  }

  #profile-name {
    font-weight: 400;
    font-size: .8em;
    margin-right: 7px;
    margin-left: 10px;

  }

}

.st0 {
  fill: red;
}

.navigation {
  background-color: $navigationColor;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    margin: 10px;
  }
}

.main {

}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #F5F5F5;

  .headline {
    background-color: white;
    font-size: smaller;
    padding: 5px;
  }

  .search {
    margin: 15px;
  }
}

.search input {
    width: 275px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid grey;
  }


.alert {
  // border-top: solid 1px gray;
  padding-top: .75em;
  padding-bottom: .75em;
}
.alert-banner {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: $alertColor;
  color: $white;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  padding: 0 .75em;
}
.alert-banner-close {
  border: none;
  color: $white;
  margin-left: auto;
  font-size: 1.1em;
}

.traffic {
}

.daily {
}

.mobile {

}

.social {

}

.members {

}

.recent-activity {

}

.message {

}

.settings {

}

#Layer_1 {
  fill: red;
}













/* Mobile - Make the chart widgets responsive to screen resizing */
// .widget-container-full, .widget-container-half {
//   width: 95vw;
// }
