//Variables
$headerColor: #737ABF;
$alertColor: #7476B5;
$navigationColor: #4C4C73;
$buttonPrimary: #7275BC;
$buttonDisabled: #B3B3B3;
$containerColor: #FDFAFF;
$white: #fff;

//Mixins

//Circular images
@mixin circleImg {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

 //Flexable header
@mixin flexHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

// Grid Layout Container
.grid-container {
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-template-areas:
    "header header"
    "nav main"
    "nav main";

  .header {
    grid-area: header;
  }
  .navigation {
    grid-area: nav;
  }
  .main {
    grid-area: main;
    //Main dashboard layout
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
      "main-header main-header"
      "alert alert"
      "traffic traffic"
      "daily mobile"
      "social social"
      "members recent-activity"
      "message settings";

    .main-header {
      grid-area: main-header;

    }

    .alert {
      background-color: #bf00ff;
      grid-area: alert;
    }

    .traffic {
      grid-area: traffic;
    }

    .daily {
      grid-area: daily;
    }

    .mobile {
      background-color: $alertColor;
      grid-area: mobile;
    }

    .social {
      background-color: red;
      grid-area: social;
    }

    .members {
      background-color: purple;
      grid-area: members;
    }

    .recent-activity {
      background-color: coral;
      grid-area: recent-activity;
    }

    .message {
      background-color: grey;
      grid-area: message;
    }

    .settings {
      background-color: brown;
      grid-area: settings;
    }

    /* Make the chart widgets responsive to screen resizing */
    .widget-container-full {
      width: 90vw;
    }
    .widget-container-half {
      width: 45vw;
    }
  }
}


// Main styles
.header {
  background-color: $headerColor;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  color: $white;
  box-shadow: 5px 5px 5px #aaaaaa;

  #title {
     color: $white;
     font-size: 1.2em;
     padding: .5em;
     font-weight: bold;
     #app-word {
       font-weight: 100;
       font-size: 1.3em;
     }
   }

  .bell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .vl {
      border-left: 2px solid #2C8EC5;
      height: 30px;
      padding: .2em;
    }

    .bell-icon {
      margin: 5px;
    }
  }
  .profile-picture {
    @include circleImg;
  }

  #profile-name {
    font-weight: 400;
    font-size: .8em;
    margin-right: 7px;
    margin-left: 10px;

  }

}

.navigation {
  background-color: $navigationColor;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    margin: 10px;
  }
}

.main {

}

.main-header {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // align-items: center;
  background-color: #F5F5F5;
  border-collapse: separate;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;

  .main-header-search input {
    border-radius: 4px;
    border: 1px solid lightgrey;
    height: 30px;
    margin-right: 10px;
  }

  .main-header-search {
    justify-self: flex-end;
    align-self: center;
    border-radius: 50%;

    // border-radius: 15px;
    // overflow: hidden;
    // perspective: 1px;
  }

  .headline {
    background-color: $white;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    text-align: center;

  }

}

.alert {

}

.alert-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.traffic {
}

.daily {
}

.mobile {

}

.social {

}

.members {

}

.recent-activity {

}

.message {

}

.settings {

}



















/* Mobile - Make the chart widgets responsive to screen resizing */
// .widget-container-full, .widget-container-half {
//   width: 95vw;
// }
