/* ============================================= */
/*              variables                    */
/* ============================================= */

$headerColor: #737ABF;
$alertColor: #7476B5;
$navigationColor: #4C4C73;
$buttonPrimary: #7275BC;
$buttonDisabled: #B3B3B3;
$containerColor: #FDFAFF;
$white: #fff;
