/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.grid-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

/* Make the chart widgets responsive to screen resizing on mobile*/
.widget-container-full,
.widget-container-half {
  width: 95vw;
}

//Main content desktop layout
.main {
  display: grid;
}


//Media Quiry
@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }

  .header {
    grid-area: header;
  }

  .navigation {
    grid-area: navigation;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    img {
      margin-top: 22px;
    }
  }

  .main {
    grid-area: main;
    //Main dashboard layout
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "main-header main-header"
      "alert alert"
      "traffic traffic"
      "daily mobile"
      "social social"
      "members recent-activity"
      "message settings";

    .main-header {
      grid-area: main-header;
    }

    .alert {
      grid-area: alert;
    }

    .traffic {
      grid-area: traffic;
    }

    .daily {
      grid-area: daily;
    }

    .mobile {
      grid-area: mobile;
      border-left: 1px solid #737ABF;
    }

    .social {
      grid-area: social;
    }

    .members {
      grid-area: members;
    }

    .recent-activity {
      grid-area: recent-activity;
    }

    .message {
      grid-area: message;
    }

    .settings {
      grid-area: settings;
    }
  }

  /* Make the chart widgets responsive to
  screen resizing on tablet and desktop*/
  .widget-container-full {
    width: 90vw;
  }

  .widget-container-half {
    width: 45vw;
  }
}

// .main {
//   grid-area: main;
//   grid-template-columns: 50%;
// }
//
// .traffic, .social {
//   grid-column: 1 / span 2;
// }
//
// .daily, .members, .message {
//   grid-column: 1 / span 1;
// }
//
// .mobile, .activity, .settings {
//   grid-column: 2 / span 1;
// }
