/* ============================================= */
/*              Main                   */
/* ============================================= */

@import "_dashboard-header.scss";

@import "_alert.scss";

.traffic, .daily, .mobile, .social,
.members, .recent-activity, .message, .settings {
    padding: 10px;
    border-bottom: 1px solid $headerColor;
    margin-top: 10px;

    h3 {
      color: $navigationColor;
      font-size: 1.3em;
    }
}

@import "_social";
