/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.navigation {
  background-color: $navigationColor;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  a {
    margin: 10px;
  }
}

@media (min-width: 768px) {
  .navigation {
    grid-area: navigation;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    img {
      margin-top: 22px;
    }
  }
}
